* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* -------nav bar-------- */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 60px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links li {
    margin-right: 19px;
    list-style-type: none;
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-button {
    width: 80px;
    height: 23px;
    color: whitesmoke;
    background-color: #17a3b9;
    border: none;
    cursor: pointer;
}


/* ----------------- main content ------------- */

.container {
    width: 1000px;
    height: 70vh;
    margin: 40px auto 80px;
    display: flex;
}

.row3 {
    flex: 3;
}

.row2 {
    flex: 2;
    margin-left: 25px;
}

/* ------------------ user card -------------------- */

.user-card {
    border: 1px solid black;
    background: rgb(16,222,220);
    background: linear-gradient(180deg, rgba(16,222,220,1) 21%, rgba(255,255,255,1) 21%);
    border: 3px solid gray;
    border-radius: 5px;
    padding: 20px;
}

.user-card h1,
.user-card p,
.user-card a {
    margin-bottom: 20px;
}

.icons {
    display: flex;
}

/* -------------------------- education ------------------------- */

.education {
    border: 3px solid gray;
    margin-top: 40px;
    height: 250px;
    border-radius: 5px;
}

.education header {
    background-color: black;
    color: whitesmoke;
    height: 50px;
    display: flex;
    align-items: center;

}

.education header h3 {
    margin-left: 20px;
}

.education-description h4, 
.education-description h5,
.education-description p {
    margin: 15px 0px 0px 20px;
}

/* -------------------- connection requests -------------- */

.cxn-req {
    border: 3px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cxn-req header {
    background-color: black;
    color: whitesmoke;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.cxn-req header button {
    margin-right: 10px;
    border-radius: 50%;
    padding: 4px 9px;
    border: none;
    background-color: gray;
}

.requests {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 20px;
}

div.items {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: bold;
}

div.view-more {
    border-top: 3px solid gray;
    height: 40px;
    padding: 20px 0 10px 20px;
}


/* --------------------------------------- images --------------------- */

.profile-pic img {
    height: 120px;
    border-radius: 50%;
    background-color: gray;
    padding: 4px;
}

.icons img {
    height: 20px;
    margin-right:  10px;
}

.avatar-pics {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.approval-icons {
    height: 35px;
    margin-right: 5px;
}